<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask app</title>
</head>
<body>
<div style="display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;">
    <h1>My Flask app on CI/CD </h1>
    <h3>Host Public IP address: {{ ip_identme }}</h3>
    <h3>Amazon  IP address: {{ ip }}</h3>
    <p> Text here </p>
</div>


</body>
</html>

